* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-text-primary: #202020;
  --color-text-secondary: #646464;
  --color-border: #BBBBBB;
  --color-pending: #F76B15;
  --color-success: #29A383;
  --color-success-dark: #208368;
  --color-primary: #0090FF;
  --color-primary-dark: #0D74CE;
  --color-white: #FFFFFF;
  --color-background: #F9F9F9;
  --color-unavailable: #8D8D8D;

  --text-3xl: 3.2rem;
  --text-2xl: 2.4rem;
  --text-xl: 2rem;
  --text-lg: 1.8rem;
  --text-base: 1.6rem;
  --text-sm: 1.4rem;
  --text-xs: 1.2rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-secondary);
  line-height: 1.5;
}

body,
input,
textarea,
button {
  font-family: 'Quicksand', sans-serif;
  font-size: var(--text-base);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-text-primary);
  font-size: var(--text-base);
}

.container {
  width: min(100%, 124.8rem);
  margin: 0 auto;
  padding: 0 1.6rem;
}